html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-image: url('https://as.com/showroom/imagenes/2018/05/21/portada/1526907060_231439_1526908693_noticia_normal.jpg');
    background-size: cover;
}


